body {
    background-color: #c7c7c7;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align:center;
    /* margin: left/right, top, bottom */
    margin: 0px 0px 0px; 
    /* overflow-x: hidden; */
}

h1{
    color: #000000;
    height:auto;
    background-color: #7a7a7a;
    padding: #7a7a7a;
    margin: 0px;
    padding: 20px;
}

p {
    line-height: 1.5;
    color: #1f1f1f;
    margin-left: 130px;
    margin-right: 130px;
}

.center-table {
    width: 25%;
    margin: auto;
    color: #1f1f1f;
}

footer {
    background-color: #7a7a7a;
    margin-bottom: 100;
}